﻿@model DBForum.Models.Praktikum.DokumenteDataTable

<div class="panel-heading">Dokumente
    <span class="badge pull-right">@Model.Count</span>
</div>

   
<table class="table table-hover">
    <thead>  
        <tr>  
            <th style="width: 10%">Kategorie</th>  
            <th style="width: 15%">Bereitgestellt am</th>  
            <th style="width: 10%">Von</th>  
            <th style="width: 65%">Titel</th>
        </tr>  
    </thead>  
    <tbody>
   
        @if (Model.Count == 0)
        {
            <tr class="warning">
                <td colspan="4">
                    Zu dieser Kategorie sind keine Dokumente vorhanden.
                </td>
            </tr>
        }
        else
        {
            foreach (var doc in Model)
            {
                <tr>
                    <td>@doc.Kategorie</td>
                    <td>@doc.Bereitstellungsdatum</td>
                    <td>@doc.Benutzer</td>
                    <td>@doc.Titel</td>
                </tr>
            }
        }
        
    </tbody>
</table>

