html, body {
   height:100%;
}

.page-header 
{
	background-color: @jumbotron-bg;
}
	
div.container.home 
{

	div.row.teaser 
    {

		margin-top:  20px;
		p.teaser-img 
        {
        
			text-align:  center;
    		span.glyphicon 
			{
        		font-size:  60px;
				color:  white;
				background-color: @gray-light;
  				width: 200px;
				height: 200px;
				text-align: center;
				line-height:  200px;
				border-radius: 100px;

			}
		
		}

    }

}