﻿@using Paket_2._3.Models
@model Paket_2._3.Models.Benutzer
           
@using (Html.BeginForm("Add", ViewContext.RouteData.Values["controller"].ToString(), null, FormMethod.Post, new { @role = "form" }))
{
 
    if (ViewBag.ErrorMessages != null)
    {
        <div class="alert alert-danger">
            <strong>Bei der Verarbeitung der Daten sind folgende Fehler aufgetreten:</strong>
            <ul>
                @foreach (var msg in ViewBag.ErrorMessages)
                {
                    <li>@msg</li>
                }
            </ul>
        </div>
    }
    
    <div class="row">
        <div class="col-md-6">
            
            <fieldset>
                <legend>Allgemein</legend>
                <div class="form-group">
                    @Html.Label("Nickname","Nickname")
                    @Html.TextBox("Nickname",Model.Nickname, new { @required = true, @placeholder = "Nickname", @class ="form-control", @type = "text" })
                </div>
    
                <div class="form-group">
                    @Html.Label("Vorname", "Vorname")
                    @Html.TextBox("Vorname", Model.Vorname, new { @placeholder = "Vorname", @class = "form-control", @type = "text" })
                </div>
    
                <div class="form-group">
                    @Html.Label("Nachname", "Nachname")
                    @Html.TextBox("Nachname", Model.Nachname, new { @placeholder = "Nachname", @class = "form-control", @type = "text" })
                </div>
                
                <div class="form-group">
                    @Html.Label("Email", "E-Mail-Adresse")
                    @Html.TextBox("Email", Model.Email, new { @placeholder = "E-Mail-Adresse", @class = "form-control", @type = "text" })
                </div>
        
                <div class="form-group">
                    @Html.Label("Passwort", "Passwort")
                    @Html.Password("Passwort", "", new {  @required = true, @placeholder = "Passwort", @class = "form-control", @type = "password" })
                </div>

                <div class="form-group">
                    @Html.Label("PasswortWdh", "Passwort-Wiederholung")
                    @Html.Password("PasswortWdh", "", new {  @required = true, @placeholder = "Passwort-Wiederholung", @class = "form-control", @type = "password" })
                </div>

            </fieldset>
        </div>
        <div class="col-md-6">
            
            <fieldset>
                <legend>Spezifisch (@Model.Typ)</legend>
                
                @{
                    if (Model.Typ == "Student")
                    {
                        @Html.Partial("Partials/FormStudent", (Student) Model);
                    }
                }

            </fieldset>
        </div>
    </div>
    <p>&nbsp</p>
    <p>
        <button type="submit" class="btn btn-default">Speichern</button>
        <div class="clearfix"><!--clearer --></div>
    </p>
   }

