﻿@model List<Paket_2._3.Models.Dokument>
<div class="panel panel-default">
    <div class="panel-heading">Bereitgestellte Dokumente <span class="badge pull-right">@Model.Count</span></div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Titel</th>
                <th>Alter in Tagen</th>
            </tr>
        </thead>
        <tbody>
            
            @{
                if (Model.Count == 0)
                {
                    <tr class="warning">
                        <td colspan="2">
                            Dieser Benutzer hat keine Dokumente bereitgestellt.
                        </td>
                    </tr>
                }
                else {
                    foreach (var doc in Model)
                    {

                        <tr>
                            <td>@doc.Titel</td>
                            <td>@((DateTime.Now - doc.BereitstellungsDatum).Days)</td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
</div>
