﻿@model Paket_2._3.Models.Professor
<h2>Professor</h2>
<h3>@Model.AkademischerTitel @Model.Vorname @Model.Nachname</h3>

@Html.Partial("Partials/_SummaryBeitraege", Model.ForenBeitraege)
@Html.Partial("Partials/_SummaryDokumente", Model.Dokumente)

<div class="panel panel-default">
  <div class="panel-heading">Verantwortlich für folgende Module <span class="badge pull-right">@Model.Module.Count</span></div>
  <table class="table table-hover">
    <thead>
        <tr>
            <th>Titel</th>
        </tr>
    </thead>
      <tbody>
          @{
              if (Model.Module.Count == 0)
              {
                  <tr class="warning">
                      <td>
                          Diesem Benutzer sind keine Module zugeteilt.
                      </td>
                  </tr>
              }
              else
              {
                  foreach (var module in Model.Module)
                  {
                      <tr>
                          <td>@module.Bezeichnung</td>
                      </tr>
                  }
              }
              
          }
     </tbody>
  </table>
</div>