﻿@model Paket_2._3.Models.Student
<h2>Student</h2>
<h3>@Model.Vorname @Model.Nachname</h3>

@Html.Partial("Partials/_SummaryBeitraege", Model.ForenBeitraege)
@Html.Partial("Partials/_SummaryDokumente", Model.Dokumente)