﻿<ul class="nav navbar-nav">
    <li class="@((ViewContext.RouteData.Values["controller"].ToString() == "Home") ? "active" : "")">
        <a href="@Url.Action("Index", "Home")"><span class="glyphicon glyphicon-home"></span> Home</a>
    </li>
    <li class="@((ViewContext.RouteData.Values["controller"].ToString() == "Module") ? "active" : "")">
        <a href="@Url.Action("Index", "Module")"><span class="glyphicon glyphicon-list"></span> Module</a>
    </li>
     <li class="@((ViewContext.RouteData.Values["controller"].ToString() == "Foren") ? "active" : "")">
        <a href="@Url.Action("Index", "Foren")"><span class="glyphicon glyphicon-comment"></span> Foren</a>
    </li>
    
    <li class="dropdown@((ViewContext.RouteData.Values["controller"].ToString() == "Benutzer") ? " active" : "")">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> Benutzer <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li class="@((ViewContext.RouteData.Values["controller"].ToString() == "Benutzer"
                         && ViewContext.RouteData.Values["action"].ToString() == "List") ? "active" : "")">
                <a href="@Url.Action("List", "Benutzer")"><span class="glyphicon glyphicon-list"></span> Übersicht</a>
            </li>
            <li class="@((ViewContext.RouteData.Values["controller"].ToString() == "Benutzer"
                          && ViewContext.RouteData.Values["action"].ToString() == "Stats") ? "active" : "")">
                <a href="@Url.Action("Stats", "Benutzer")"><span class="glyphicon glyphicon-stats"></span> Statistik</a>
            </li>
            <li class="divider"></li>
            <li class="@((ViewContext.RouteData.Values["controller"].ToString() == "Benutzer"
                          && ViewContext.RouteData.Values["action"].ToString() == "Add") ? "active" : "")">
                <a href="@Url.Action("Add", "Benutzer")"><span class="glyphicon glyphicon-plus-sign"></span> Benutzer hinzufügen</a>
            </li>
        </ul>
      </li>
    <li class="@((ViewContext.RouteData.Values["controller"].ToString() == "Dokumente") ? "active" : "")">
        <a href="@Url.Action("Index", "Dokumente")"><span class="glyphicon glyphicon-paperclip"></span> Dokumente</a>
    </li>
</ul>
