html, body {
   height:100%;
}


div.navbar.main 
{
	div.dropdown-menu.login
    {
		padding:  15px;
		width:  200px;
    }
}

.page-header 
{
	background-color: @jumbotron-bg;
}
	
div.container.home 
{
	div.row.teaser 
    {

		margin-top:  20px;
		p.teaser-img 
        {
        
			text-align:  center;
    		span.glyphicon 
			{
        		font-size:  40px;
				color:  white;
				background-color: @gray-light;
  				width: 100px;
				height: 100px;
				text-align: center;
				line-height:  100px;
				border-radius: 100px;
			}
		}
    }
}


div#chart-container 
{
	min-height: 400px;
	position:  relative;
	div 
	{
		//position:  absolute;
		//top:  0px;
		&.asp,&.highcharts 
        {
			display:  none;
        }
	}
}

div#panel-chart span.pull-right 
{
	margin-right:  20px;
}


div.alert-warning 
{
	padding:  15px;
}


span.forum.views.hot 
{
	font-weight:  bold;
	color:  @brand-danger;
}