﻿<form class="navbar-form navbar-right">
    <div class="form-group">
        <input type="text" placeholder="Benutzername" class="form-control">
    </div>
    <div class="form-group">
        <input type="password" placeholder="Passwort" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Anmelden</button>
</form>
