﻿<ul class="nav navbar-nav">
    <li class="@((ViewContext.RouteData.Values["controller"].ToString() == "Home") ? "active" : "")">
        <a href="@Url.Action("Index", "Home")"><span class="glyphicon glyphicon-home"></span> Home</a>
    </li>
    <li class="@((ViewContext.RouteData.Values["controller"].ToString() == "Module") ? "active" : "")">
        <a href="@Url.Action("Index", "Module")"><span class="glyphicon glyphicon-list"></span> Module</a>
    </li>
    <li class="@((ViewContext.RouteData.Values["controller"].ToString() == "Benutzer") ? "active" : "")">
        <a href="@Url.Action("Index", "Benutzer")"><span class="glyphicon glyphicon-user"></span> Benutzer</a>
    </li>
</ul>
