﻿@using DBForum.Models
@model DBForum.Models.Linq.NeueDiskussion
           
@using (Html.BeginForm("AddDiscussion", ViewContext.RouteData.Values["controller"].ToString(),new { id = Model.AktuellesForum.ID }, FormMethod.Post, new { @role = "form" }))
{
 
    if (ViewBag.ErrorMessages != null)
    {
        <div class="alert alert-danger">
            <strong>Bei der Verarbeitung der Daten sind folgende Fehler aufgetreten:</strong>
            <ul>
                @foreach (var msg in ViewBag.ErrorMessages)
                {
                    <li>@msg</li>
                }
            </ul>
        </div>
    }
    
    <div class="row">
        <div class="col-md-6">

            <fieldset>
                <legend>Neue Diskussion</legend>
                <div class="form-group">
                    @Html.Label("User","Benutzer")
                    @Html.TextBox("User",Model.User, new { @required = true, @placeholder = "Benutzer", @class ="form-control", @type = "text" })
                </div>
    
                <div class="form-group">
                    @Html.Label("Title", "Titel")
                    @Html.TextBox("Title", Model.Title, new { @required = true, @placeholder = "Titel", @class = "form-control", @type = "text" })
                </div>
    
            

            </fieldset>
        </div>
        <div class="col-md-6">

            <fieldset>
                <legend>Beitrag</legend>
                <div class="form-group">
                    @Html.Label("Message", "Nachricht")
                    @Html.TextArea("Message", Model.Message, new { @required = true, @placeholder = "Nachricht", @class = "form-control" })
                </div>
            </fieldset>
        </div>

    </div>
    <p>&nbsp</p>
    <p>
        <button type="submit" class="btn btn-default">Speichern</button>
        <div class="clearfix"><!--clearer --></div>
    </p>
   }

