﻿@using DBForum.Models
@model List<DBForum.Models.Modul>
@{    
    ViewBag.Title = "Module";
    ViewBag.SubTitle = "Übersicht";

    BreadCrumb.AddBreadCrumb(new BreadCrumb{ Action = "Index", Controller = "Home", Title = "Home"});
    BreadCrumb.AddBreadCrumb(new BreadCrumb {Active = true, Title = "Module" });

}


<div class="panel panel-default">
    <div class="panel-heading">Module
        <span class="badge pull-right">@Model.Count</span>
        </div>
    <table class="table table-hover">
        <thead>  
            <tr>  
                <th  style="width: 15%">Fachnummer</th>  
                <th style="width: 55%">Bezeichnung</th>  
                <th style="width: 30%">Verantwortlicher</th>
              
            </tr>  
        </thead>  
        <tbody>
       
        @foreach (var modul in Model) {
            <tr>
                <td>@modul.FachNummer</td>
                <td>@modul.Bezeichnung</td>
                <td><a href="@Url.Action("Summary", "Benutzer", new { user = modul.Verantwortlicher} )">@modul.VerantwortlicherName</a></td>

            </tr>
        }
        </tbody>  
    </table>
</div>