﻿@using DBForum.Models
@model DBForum.Models.Linq.Beiträge
           
@using (Html.BeginForm("AddMessage", ViewContext.RouteData.Values["controller"].ToString(),new { id = Model.DiskussionsID }, 
    FormMethod.Post, new { @role = "form" }))
{
 
    if (ViewBag.ErrorMessages != null)
    {
        <div class="alert alert-danger">
            <strong>Bei der Verarbeitung der Daten sind folgende Fehler aufgetreten:</strong>
            <ul>
                @foreach (var msg in ViewBag.ErrorMessages)
                {
                    <li>@msg</li>
                }
            </ul>
        </div>
    }
    
    <div class="row">
        <div class="col-md-6">

            <fieldset>
                <legend>Neuer Beitrag</legend>
                <div class="form-group">
                    @Html.Label("Benutzer","Benutzer")
                    @Html.TextBox("Benutzer", Model.Benutzer, new { @required = true, @placeholder = "Benutzer", @class = "form-control", @type = "text" })
                </div>
    
                 <div class="form-group">
                    @Html.Label("Mitteilung", "Nachricht")
                    @Html.TextArea("Mitteilung", Model.Mitteilung, new { @required = true, @placeholder = "Nachricht", @class = "form-control" })
                </div>
            

            </fieldset>
        </div>
        

    </div>
    <p>&nbsp</p>
    <p>
        <button type="submit" class="btn btn-default">Speichern</button>
        <div class="clearfix"><!--clearer --></div>
    </p>
   }

