﻿ @model DBForum.Models.Student

 <div class="form-group">
    @Html.Label("MatrikelNummer", "Matrikel-Nummer")
    @Html.TextBox("MatrikelNummer", ((Model.MatrikelNummer > 0) ? Model.MatrikelNummer.ToString("d") : "") , 
        new {  @required = true, @placeholder = "Matrikel-Nummer", @class = "form-control", @type = "number" })
</div>
    
    
<div class="form-group">
    @Html.Label("EinschreibeDatum", "Datum der Einschreibung")
    @Html.TextBox("EinschreibeDatum", Model.EinschreibeDatum.ToString("yyyy-M-dd"), new { @required = true,  @placeholder = "EinschreibeDatum", @class = "form-control", @type = "date" })
</div>
 