﻿@using DBForum.Models
@{
    var breadcrumbs = BreadCrumb.GetBreadCrumbs();
    if (breadcrumbs.Count > 0)
    {

        <ol class="breadcrumb">
            @foreach (var bc in breadcrumbs)
            {
                if (bc.Active)
                {
                    <li class="active">@bc.Title</li>
                }
                else
                {
                    <li><a href="@(Url.Action(bc.Action, bc.Controller, bc.Parameters))">@bc.Title</a></li>
                }

            }
        </ol>
    }
    BreadCrumb.ClearBreadCrumbs();
}