﻿<ul class="nav pull-right navbar-nav">
    <li class="dropdown">
        <a class="dropdown-toggle" href="#" data-toggle="dropdown"><span class="glyphicon glyphicon-lock"></span> Anmelden <b class="caret"></b></a>
        <div class="dropdown-menu login">
            <form role="form">
                <div class="form-group">
                    <input type="text" placeholder="Benutzername" class="form-control">
                </div>
                <div class="form-group">
                    <input type="password" placeholder="Passwort" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary">Anmelden</button>
            </form>
        </div>
    </li>
</ul>
