﻿@{
    ViewBag.Title = "Home";
}

<div class="container home">
    <div class="row teaser">
        <div class="col-lg-3">
            <p class="teaser-img"><a href="@Url.Action("Index","Module")" role="button"><span class="glyphicon glyphicon-list"></span></a></p>            
            <h2>Module</h2>
            <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
            <p><a class="btn btn-primary" href="@Url.Action("Index","Module")" role="button">Weiter</a></p>
        </div>
        <div class="col-lg-3">
            <p class="teaser-img"><a href="@Url.Action("Index","Foren")" role="button"><span class="glyphicon glyphicon-comment"></span></a></p>
            <h2>Foren</h2>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <p><a class="btn btn-primary" href="@Url.Action("Index", "Foren")" role="button">Weiter</a></p>
        </div>
        <div class="col-lg-3">
            <p class="teaser-img"><a href="@Url.Action("Index","Benutzer")" role="button"><span class="glyphicon glyphicon-user"></span></a></p>
            <h2>Benutzer</h2>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <p><a class="btn btn-primary" href="@Url.Action("Index","Benutzer")" role="button">Weiter</a></p>
        </div>
        <div class="col-lg-3">
            <p class="teaser-img"><a href="@Url.Action("Index","Dokumente")" role="button"><span class="glyphicon glyphicon-paperclip"></span></a></p>
            <h2>Dokumente</h2>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <p><a class="btn btn-primary" href="@Url.Action("Index", "Dokumente")" role="button">Weiter</a></p>
        </div> 
        

    </div>
    <div class="well" style="margin-top: 30px">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
    </div>
   
</div>