﻿@using DBForum.Helpers
@using DBForum.Models
@using DBForum.Models.Linq
@model IEnumerable<Beiträge>
@{
    ViewBag.Title = "Diskussion";
    ViewBag.SubTitle = "Beiträge";

    BreadCrumb.AddBreadCrumb(new BreadCrumb { Action = "Index", Controller = "Home", Title = "Home" });

    if (ViewBag.ForenPath != null && ViewBag.ForenPath.Count > 0)
    {
        BreadCrumb.AddBreadCrumb(new BreadCrumb { Action = "Index", Controller ="Foren", Title = "Foren", Parameters = new { id = "" }});
        while (ViewBag.ForenPath.Count > 0) 
        {
            var forum = ViewBag.ForenPath.Pop();
            BreadCrumb.AddBreadCrumb(new BreadCrumb { Action = "Index", Controller = "Foren", Title = forum.Bezeichnung, Parameters = new { id = forum.ID } });
        }
    }
    BreadCrumb.AddBreadCrumb(new BreadCrumb { Active = true, Title = "Diskussion" });
}




<div class="panel panel-default">
    <div class="panel-heading">@ViewBag.Diskussion.Titel
        <span class="badge pull-right">@Model.Count()</span>
    </div>

    @if (Model.Any())
    {
        <table class="table table-hover">
            <thead>  
                <tr>
                    <th style="width: 20%">Benutzer</th>  
                    <th style="width: 80%">Nachricht</th>  
                </tr>  
            </thead>  
            <tbody>
                @foreach (var b in Model)
                {
                    <tr>
                        <td>
                    <div><span class="glyphicon glyphicon-user"></span> <a href="@Url.Action("Summary", "Benutzer", new { user = b.Benutzer} )"><strong>@b.Benutzer</strong></a></div>
                            <div><span class="glyphicon glyphicon-time"></span> @b.Änderungsdatum.ToString()</div>
                        </td>
                        <td>@Html.Nl2Br(@b.Mitteilung)</td>
                    </tr>
                }
       
            </tbody>  
        </table>
    }
    else
    {
        <div class="alert-warning">
            Zu dieser Diskussion existieren noch keine Beiträge.
        </div>
            
    }
    <div class="panel-footer">
        <div class="btn-group btn-group-sm pull-right">
            <a href="@Url.Action("AddMessage", new { id = @ViewBag.Diskussion.ID})" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Antwort erstellen</a>
        </div>
        <div class="clearfix"><!--clearer--></div>
    </div>
</div>
