﻿@using DBForum.Models
@model List<DBForum.Models.Benutzer>
@{    
    ViewBag.Title = "Benutzer";
    ViewBag.SubTitle = "Übersicht";

    BreadCrumb.AddBreadCrumb(new BreadCrumb { Action = "Index", Controller = "Home", Title = "Home" });
    BreadCrumb.AddBreadCrumb(new BreadCrumb { Active = true, Title = "Benutzer" });
}


<div class="panel panel-default">
    <div class="panel-heading">Benutzer
     <span class="badge pull-right">@Model.Count</span>
        <!--
            <div class="btn-group btn-group-sm pull-right">
                <a href="@Url.Action("Add")" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span></a>
            </div>
            <div class="clearfix"></div>
        -->
    </div>
    <table class="table table-hover">
        <thead>  
            <tr>  
                <th style="width: 15%">Nickname</th>  
                <th style="width: 15%">Vorname</th>  
                <th style="width: 15%">Nachname</th>
                <th style="width: 40%">E-Mail</th>
                <th style="width: 15%">Typ</th>
            </tr>  
        </thead>  
        <tbody>
       
            @foreach (var user in Model) {
                <tr>
                    <td><a href="@Url.Action("Summary", "Benutzer", new { user = user.Nickname} )">@user.Nickname</a></td>
                    <td>@user.Vorname</td>
                    <td>@user.Nachname</td>
                    <td>@user.Email</td>
                    <td>@user.Typ</td>
                </tr>
            }
        </tbody>  
    </table>
    <div class="panel-footer">
        <div class="btn-group btn-group-sm pull-right ">
            <a href="@Url.Action("Add")" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Benutzer hinzufügen</a>
        </div>
        <div class="clearfix"><!--clearer--></div>
    </div>
</div>
<!--a href="@Url.Action("Add")"><button type="button" class="btn btn-lg btn-primary"><span class="glyphicon glyphicon-plus-sign"></span> Benutzer hinzufügen</button></a-->