﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <script src="@Url.Content("~/Content/vendor/jquery/jquery-2.0.3.min.js")"></script>
    <link rel="stylesheet" href="@Url.Content("~/Content/vendor/bootstrap/css/bootstrap.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/vendor/bootstrap/css/bootstrap-theme.min.css")">
    <script src="@Url.Content("~/Content/vendor/bootstrap/js/bootstrap.min.js")"></script>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    
    <link rel="stylesheet" href="@Url.Content("~/Content/vendor/ladda-bootstrap/ladda-themeless.min.css")">
    <script src="@Url.Content("~/Content/vendor/ladda-bootstrap/spin.min.js")"></script>
    <script src="@Url.Content("~/Content/vendor/ladda-bootstrap/ladda.min.js")"></script>
    
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top main" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("FH Aachen DB-Forum", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                
            @Html.Partial("_Navigation")
            @Html.Partial("_LoginForm")

            </div><!--/.navbar-collapse -->
        </div>
    </div>
     <!-- Main jumbotron for a primary marketing message or call to action -->
    
    <div class="page-header">
        <div class="container">
            <h1>@ViewBag.Title<br/><small>@ViewBag.SubTitle</small></h1>
        </div>
    </div>
    
   
    <div class="container">
        @Html.Partial("_BreadCrumbs")
        @Html.Partial("_FlashMessages")
        @RenderBody()
        

        <hr>

        <footer>
            <p>&copy; Michael Rüttgers (2013-@DateTime.Now.ToString("yyyy"))
                <span class="pull-right">
                    <a class="btn-link" onclick="window.scrollTo(0);">nach oben</a>
                </span>
            </p>
        </footer>
    </div> <!-- /container -->
    

    </body>
</html>
