﻿@using DBForum.Models
@model Stundenplan
@{
    ViewBag.Title = "Home";
}

<div class="container home">
    <div class="row teaser">
        <div class="col-lg-3">
            <p class="teaser-img"><a href="@Url.Action("Index","Module")" role="button"><span class="glyphicon glyphicon-list"></span></a></p>            
            <h2>Module</h2>
            <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
            <p><a class="btn btn-primary" href="@Url.Action("Index","Module")" role="button">Weiter</a></p>
        </div>
        <div class="col-lg-3">
            <p class="teaser-img"><a href="@Url.Action("Index","Foren")" role="button"><span class="glyphicon glyphicon-comment"></span></a></p>
            <h2>Foren</h2>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <p><a class="btn btn-primary" href="@Url.Action("Index", "Foren")" role="button">Weiter</a></p>
        </div>
        <div class="col-lg-3">
            <p class="teaser-img"><a href="@Url.Action("Index","Benutzer")" role="button"><span class="glyphicon glyphicon-user"></span></a></p>
            <h2>Benutzer</h2>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <p><a class="btn btn-primary" href="@Url.Action("Index","Benutzer")" role="button">Weiter</a></p>
        </div>
        <div class="col-lg-3">
            <p class="teaser-img"><a href="@Url.Action("Index","Dokumente")" role="button"><span class="glyphicon glyphicon-paperclip"></span></a></p>
            <h2>Dokumente</h2>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <p><a class="btn btn-primary" href="@Url.Action("Index", "Dokumente")" role="button">Weiter</a></p>
        </div> 
        

    </div>

    <p>&nbsp;</p>
    <hr />
    <p>&nbsp;</p>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Stundenplan<span class="pull-right">@Model.Studiengang</span></h3>
        </div>
        <div class="panel-body">
            <div class="table-responsive timetable">
                <table class="table">
                    <thead>
                        <tr>
                            <td></td>
                            @foreach (var tag in Model.Tage) { 
                                <td>@tag.Name</td>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int i_zeit = 0;
                            foreach (var zeit in Stundenplan.C_ZEITEN) {
                                <tr>
                                    <td>@zeit</td>
                                    @{
                                        foreach (var tag in Model.Tage) {
                                            var block = tag.Blöcke[i_zeit];
                                            
                                            <td>
                                                @if (block != null) {
                                                    <div class="panel panel-default tt-block tt-block-type-@block.Typ.ToLower().Replace("ü","ue").Replace("ä","ae").Replace("ö","oe")">
                                                        <div class="panel-body">
                                                            <div class="title"><h5>@block.Veranstaltung</h5></div>
                                                            <div class="type"><label>Art:</label> @block.TypReadable</div>
                                                            @if ( block.Verantwortlicher != null)
                                                            {
                                                                <div class="responsible"><label>Dozent:</label> <a href="@Url.Action("Summary", "Benutzer", new { user = block.Verantwortlicher.Nickname })">@block.Verantwortlicher.Nickname</a></div>
                                                            }
                                                            @if (block.Forum != null)
                                                            {
                                                                <div class="forum"><label>Forum:</label> <a href="@Url.Action("Index", "Foren", new { id = block.Forum.ID })">@block.Forum.Bezeichnung</a></div>
                                                            }
                                                            
                                                                
                                                        </div>
                                                    </div>
                                                }
                                                
                                            </td>
                                            
                                        }
                                    }
                                </tr>
                                i_zeit++;
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="panel-footer">
            Fachsemester @Model.FachSemester<span class="pull-right">Letzte Aktualisierung: @Model.Aktualisiert</span>
        </div>
    </div>

   
    <div class="well" style="margin-top: 30px">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
    </div>
   
</div>