﻿@using DBForum.Models
@using DBForum.Models.PraktikumTableAdapters
@model Praktikum.DokumenteDataTable
@{
    ViewBag.Title = "Dokumente";
    ViewBag.SubTitle = "Übersicht";

    BreadCrumb.AddBreadCrumb(new BreadCrumb { Action = "Index", Controller = "Home", Title = "Home" });
    BreadCrumb.AddBreadCrumb(new BreadCrumb { Active = true, Title = "Dokumente" });
}

<script type="text/javascript">
    $(function() {
        $('#nav-documents a').click(function(e) {
            e.preventDefault();
            var el = $(this);
            if (!el.parent().is('.active')) {
                var l = Ladda.create(this);
                l.start();

                $('#nav-documents li.active').removeClass('active');
                el.parent().addClass('active');
                $.ajax("@Url.Action("ListContent", "Dokumente")", {
                    'data' : { 'category' : el.data('category') },
                    'success' : function(data) {
                        $('#panel-documents').html(data);
                    }
                }).always(function () { l.stop(); });
            }
        });
    });
</script>


 <ul id="nav-documents" class="nav nav-pills">
    <li class="active"><a data-category="" class="btn-link ladda-button" data-style="expand-right"><span class="ladda-label">Alle Kategorien</span></a></li>
    @{
        var cats = new KategorienTableAdapter().GetData();
        foreach (var cat in cats)
        {
            <li><a data-category="@cat.Kategorie" class="btn-link ladda-button" data-style="expand-right"><span class="ladda-label">@cat.Kategorie</span></a></li>
        }
    }
</ul>
<p>&nbsp;</p>

<div id="panel-documents" class="panel panel-default">
    @Html.Partial("Partials/ListContent", Model)
</div>
