﻿@model List<DBForum.Models.ForumBeitrag>
@{
    var anzBeitrage = 0;
    foreach (var fb in Model)
    {
        anzBeitrage += fb.Beitraege.Count;
    }
}
<div class="panel panel-default">
  <div class="panel-heading">Forum Beiträge <span class="badge pull-right">@anzBeitrage</span></div>
  <table class="table table-hover">
        <thead>
            <tr>
                <th>Forum</th>
                <th>Mitteilung</th>
                <th>Alter in Tagen</th>
            </tr>
        </thead>
      <tbody>
          @{
              if (Model.Count == 0)
              {
                  <tr class="warning">
                      <td colspan="3">
                          Dieser Benutzer hat keine Beiträge verfasst.
                      </td>
                  </tr>
              }
              else
              {
                  foreach (var fb in Model)
                  {
                      Boolean first = true;

                      foreach (var b in fb.Beitraege)
                      {
                          var msg = b.Mitteilung;
                          if (msg.Length > 150)
                          {
                              msg = msg.Substring(0, 150) + "...";
                          }

                          <tr>
                              @if (first)
                              {
                                  first = false;
                                  <td rowspan="@fb.Beitraege.Count">@fb.Forum.Bezeichnung</td>
                              }
                              <td>@msg</td>
                              <td>@((DateTime.Now - b.AenderungsDatum).Days)</td> 
                          </tr>
                      }
                  }

              }

          }
      </tbody>
  </table>
</div>