﻿@{
    ViewBag.Title = "Home";
}

<div class="container home">
    <div class="row teaser">
        <div class="col-lg-4">
            <p class="teaser-img"><span class="glyphicon glyphicon-home"></span></p>
            <h2>Willkommen</h2>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
        </div>
        <div class="col-lg-4">
            <p class="teaser-img"><a href="@Url.Action("Index","Module")" role="button"><span class="glyphicon glyphicon-list"></span></a></p>            
            <h2>Module</h2>
            <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
            <p><a class="btn btn-primary" href="@Url.Action("Index","Module")" role="button">Weiter</a></p>
        </div>
        <div class="col-lg-4">
            <p class="teaser-img"><a href="@Url.Action("Index","Benutzer")" role="button"><span class="glyphicon glyphicon-user"></span></a></p>
            <h2>Benutzer</h2>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <p><a class="btn btn-primary" href="@Url.Action("Index","Benutzer")" role="button">Weiter</a></p>
        </div>
    </div>
</div>