﻿@using Paket_2._3.Models
@model List<Paket_2._3.Models.Benutzer>
@{    
    ViewBag.Title = "Benutzer";
    ViewBag.SubTitle = "Übersicht";

    BreadCrumb.AddBreadCrumb(new BreadCrumb { Action = "Index", Controller = "Home", Title = "Home" });
    BreadCrumb.AddBreadCrumb(new BreadCrumb { Active = true, Title = "Benutzer" });
}


<div class="panel panel-default">
    <div class="panel-heading">Benutzer</div>
    <table class="table table-hover">
        <thead>  
            <tr>  
                <th>Nickname</th>  
                <th>Vorname</th>  
                <th>Nachname</th>
                <th>E-Mail</th>
                <th>Typ</th>
                <th></th>  
            </tr>  
        </thead>  
        <tbody>
       
        @foreach (var user in Model) {
            <tr>
                <td><a href="@Url.Action("Summary", "Benutzer", new { user = user.Nickname} )">@user.Nickname</a></td>
                <td>@user.Vorname</td>
                <td>@user.Nachname</td>
                <td>@user.Email</td>
                <td>@user.Typ</td>
                <td></td>
            </tr>
        }
        </tbody>  
    </table>
</div>
<a href="@Url.Action("Add")"><button type="button" class="btn btn-lg btn-primary"><span class="glyphicon glyphicon-plus-sign"></span> Benutzer hinzufügen</button></a>