﻿@using Paket_2._3.Models
@model Paket_2._3.Models.Benutzer
@{    
    ViewBag.Title = "Benutzer";
    ViewBag.SubTitle = "Zusammenfassung";

    BreadCrumb.AddBreadCrumb(new BreadCrumb { Action = "Index", Controller = "Home", Title = "Home" });
    BreadCrumb.AddBreadCrumb(new BreadCrumb { Action = "List", Controller = "Benutzer", Title = "Benutzer" });
    BreadCrumb.AddBreadCrumb(new BreadCrumb { Title = "Zusammenfassung", Active = true });
  
}

@{
  
    if (Model.Typ == "Professor")
    {
         <div class="professor">@Html.Partial("Partials/SummaryProfessor", Model.AsProfessor())</div>
    }
    else if (Model.Typ == "Mitarbeiter")
    {
        <div class="mitarbeiter">@Html.Partial("Partials/SummaryMitarbeiter", Model.AsMitarbeiter())</div>
    }
    else if (Model.Typ == "Student")    
    {
        <div class="student">@Html.Partial("Partials/SummaryStudent", Model.AsStudent())</div>
    }
}