﻿@using System.Data.SqlClient;
@{
    Page.Title = "Login";
    Layout = "Layouts\\Login.cshtml";
}

@section head {
    
}

<div id="content-login" class="content">
	<h1>Login</h1>
    @{
        if (Request.Form["login"] == "true") {

            bool error = true;
            string pwd = Crypto.Hash(Request.Form["password"], "md5");
            string user = Request.Form["username"];
            
            var connStr = @"Data Source=localhost\SQLExpress;Initial Catalog=Praktikum;Integrated Security=True";
            var conn = new SqlConnection(connStr);
            conn.Open();


            var query = "SELECT COUNT(*) AS AnzErgebnis FROM Benutzer WHERE Nickname=@Nickname AND Passwort=@Password";
            var cmd = new SqlCommand(query, conn);
            cmd.Parameters.AddWithValue("@Nickname", user);
            cmd.Parameters.AddWithValue("@Password", pwd);
            
            
            using(SqlDataReader reader = cmd.ExecuteReader()) {
                if (reader.Read()) {
                    if ((int) reader["AnzErgebnis"] == 1) {
                        error = false;
                    }
                }
                reader.Close();
            }
            conn.Close();

            if (error) {
               
                <h2>Fehler:</h2>
                <p>
                    Beim Login ist Fehler aufgetreten.<br />
                    Bitte überprüfen Sie Benutzername und Kennwort.
                </p>
            }
            else {
                Session["authenticated"] = true;
                Response.Redirect("Module_dynamisch.cshtml");
            }
        }
    }
    <form name="login" method="post" action="">
        <p>
            <label for="username">Benutzername:</label>
            <input type="text" name="username" value="@Request.Params["username"]" />
        </p>
        <p>
            <label for="password">Passwort:</label>
            <input type="password" name="password" value="" />
        </p>
        <p>
            <input type="submit" value="Login" />
        </p>
        <input type="hidden" name="login" value="true" />
    </form>
</div>