﻿@using System.Data.SqlClient;
@{
    Page.Title = "Module (dynamisch)";
    Layout = "Layouts\\Default.cshtml";
    
    
    var connStr = @"Data Source=localhost\SQLExpress;Initial Catalog=Praktikum;Integrated Security=True";
    var conn = new SqlConnection(connStr);
    conn.Open();
    
    
    var query = "SELECT Module.Fachnummer, Module.Bezeichnung, Professoren.AkademischerTitel, Benutzer.Nachname, Benutzer.Nickname"+
        " FROM Module, Professoren, Benutzer"+
        " WHERE Professoren.Nickname=Module.Verantwortlicher AND Benutzer.Nickname=Module.Verantwortlicher"+
        " ORDER BY Bezeichnung";
    var cmd = new SqlCommand(query, conn);

    SqlDataReader reader = cmd.ExecuteReader();    
}



<div id="content-module" class="content">
	<h1>Studien Module</h1>
	<table border="1">
	<tr>
		<td width="100" align="center"><b>Fach No.</b></td>
		<td width="300" align="center"><b>Bezeichnung</b></td>
		<td width="150" align="center"><b>Verantwortlicher</b></td>
	</tr>
    @while (reader.Read()) {
	<tr>
		<td>@reader["Fachnummer"]</td>
		<td>@reader["Bezeichnung"]</td>
		<td><a href="ProfSummary.cshtml?prof=@reader["Nickname"]">@reader["AkademischerTitel"] @reader["Nachname"]</a></td>
	</tr>
    }
	</table>
	<p>&nbsp;</p>
	
</div>

@{
    conn.Close();
}