﻿@using System.Data.SqlClient;
@{
    Layout = "Layouts\\Default.cshtml";


    var connStr = @"Data Source=localhost\SQLExpress;Initial Catalog=Praktikum;Integrated Security=True;MultipleActiveResultSets=true";
    var conn = new SqlConnection(connStr);
    
    conn.Open();
    
    var nickname = Request.QueryString["prof"];
    String ProfName = "";
    
    using( SqlCommand cmd = new SqlCommand(
        "SELECT Professoren.AkademischerTitel, Benutzer.Nachname" +
        " FROM Professoren, Benutzer" +
        " WHERE Professoren.Nickname = @Nickname AND Benutzer.Nickname = @Nickname"
        , conn)) {
      
        cmd.Parameters.AddWithValue("@Nickname", nickname);
    
       using(SqlDataReader reader = cmd.ExecuteReader()) {
            Page.Title = "Übersicht";
            if (reader.Read()) {
                ProfName = reader["AkademischerTitel"].ToString()+" "+reader["Nachname"].ToString();
                Page.Title += " - " + ProfName;
            }
            reader.Close();
       }
    }
}



<div id="content-prof" class="content">
	<h1>@ProfName</h1>
	<h2>Forum Beiträge</h2>
    @{
        using (SqlCommand cmd = new SqlCommand(
            "SELECT f.ID,f.Bezeichnung, COUNT(b.ID) AS AnzBeitraege FROM Foren AS f " +
            " INNER JOIN Diskussionen AS d ON d.ForumID=f.ID"+
            " INNER JOIN [Beiträge] AS b ON b.DiskussionsID=d.ID"+
            " WHERE b.Benutzer = @Nickname"+
            " GROUP BY f.ID,f.Bezeichnung"
            , conn)) {
            cmd.Parameters.AddWithValue("@Nickname", nickname);
            using (SqlDataReader reader = cmd.ExecuteReader())
            {
                int AnzForen = 0;
                int AnzBeitraege = 0;
                while (reader.Read()) {
                    AnzForen++;
                    AnzBeitraege += (int) @reader["AnzBeitraege"];
                    <h3>@reader["Bezeichnung"]</h3>
                     using (SqlCommand bCmd = new SqlCommand(
                        "SELECT b.Mitteilung, [Änderungsdatum] AS AendDatum "+
                        " FROM [Beiträge] AS b "+
                        " INNER JOIN Diskussionen AS d ON d.ID=b.DiskussionsID"+
                        " WHERE "+
                        " d.ForumID=@ForumID AND b.Benutzer = @Nickname" + 
                        " ORDER BY [Änderungsdatum]"
                        , conn)) {
                        bCmd.Parameters.AddWithValue("@Nickname", nickname);
                        bCmd.Parameters.AddWithValue("@ForumID", @reader["ID"]);
                     
                        using (SqlDataReader bReader = bCmd.ExecuteReader())
                        {
                            <ul>
                            @while (bReader.Read()) {
                                String msg = bReader["Mitteilung"].ToString();
                                DateTime aenddat = (DateTime) bReader["AendDatum"];
                                int days = (DateTime.Now-aenddat).Days;
                                if (msg.Length > 150) {
                                    msg = msg.Substring(0, 150) + "...";
                                } 
                                <li>"@msg" vor @days Tagen</li>
                                
                            }
                            </ul>
                            bReader.Close();
                        }
                       
                     }
                }
                <p>@AnzBeitraege Beiträge in @AnzForen Foren.</p>
                reader.Close();
            }
        }
    }
     
    <p>&nbsp;</p>
    <h2>Bereitgestellte Dokumente</h2>
  
    @{
        using (SqlCommand cmd = new SqlCommand(
            "SELECT d.Titel,d.Bereitstellungsdatum "+
            " FROM Dokumente AS d "+
            " WHERE d.Benutzer = @Nickname"+
            " ORDER BY d.Bereitstellungsdatum"
            , conn)) {
            cmd.Parameters.AddWithValue("@Nickname", nickname);
            using (SqlDataReader reader = cmd.ExecuteReader())
            {
               int AnzDoc = 0;
               <ul>
               @while(reader.Read()) {
                   AnzDoc++;
                   int days = (DateTime.Now - (DateTime)reader["Bereitstellungsdatum"]).Days;
                   <li>"@reader["Titel"]" vor @days Tagen</li>
               }
               </ul>
                <p>@AnzDoc Dokumente.</p>
            }
        }
    }
   
    <p>&nbsp;</p>
    <h2>Verantwortlich für folgende Module</h2>
   
    @{
        using (SqlCommand cmd = new SqlCommand(
            "SELECT m.Bezeichnung "+
            " FROM Module AS  m"+
            " WHERE m.Verantwortlicher = @Nickname"+
            " ORDER BY m.Bezeichnung"
            , conn)) {
            cmd.Parameters.AddWithValue("@Nickname", nickname);
            using (SqlDataReader reader = cmd.ExecuteReader())
            {
                int AnzModule = 0;
                <ul>
                @while(reader.Read()) {
                    AnzModule++;
                    <li>@reader["Bezeichnung"]</li>
                }
                </ul>
                <p>@AnzModule Module.</p>
            }
        }
    }

	<p>&nbsp;</p>
	
    <a href="Module_dynamisch.cshtml">&laquo; zurück</a>
</div>
@{
    conn.Close();
}