html, body {
   height:100%;
}


div.navbar.main 
{
	div.dropdown-menu.login
    {
		padding:  15px;
		width:  200px;
    }
}

.page-header 
{
	background-color: @jumbotron-bg;
}
	
div.container.home 
{
	div.row.teaser 
    {

		margin-top:  20px;
		p.teaser-img 
        {
        
			text-align:  center;
    		span.glyphicon 
			{
        		font-size:  40px;
				color:  white;
				background-color: @gray-light;
  				width: 100px;
				height: 100px;
				text-align: center;
				line-height:  100px;
				border-radius: 100px;
			}
		}
    }
}


div#chart-container 
{
	min-height: 400px;
	position:  relative;
	div 
	{
		//position:  absolute;
		//top:  0px;
		&.asp,&.highcharts 
        {
			display:  none;
        }
	}
}

div#panel-chart span.pull-right 
{
	margin-right:  20px;
}


div.alert-warning 
{
	padding:  15px;
}


span.forum.views.hot 
{
	font-weight:  bold;
	color:  @brand-danger;
}



@tt-panel-v-border: @brand-primary;
@tt-panel-v-text: #999;

@tt-panel-ue-border: @brand-warning;
@tt-panel-ue-text: #999;

@tt-panel-p-border: @brand-success;
@tt-panel-p-text: #999;

div.timetable {
    table {

        tbody {
            tr {
               // height: 100px;
               td {
                   padding-top: 10px;
                   padding-bottom: 10px;
                   .tt-block {
                       padding: 2px;
                       margin: 0px;
                       border-width: 2px;
                       
                       .panel-body {
                           padding-top: 5px;
                       }

                       &.tt-block-type-v {
                            .alert-variant(@gray-lighter; @tt-panel-v-border; @tt-panel-v-text);
                       }
                       &.tt-block-type-ue {
                            .alert-variant(@gray-lighter; @tt-panel-ue-border; @tt-panel-ue-text);
                       }
                       &.tt-block-type-p {
                            .alert-variant(@gray-lighter; @tt-panel-p-border; @tt-panel-p-text);
                       }
                     
                       
                       div.type, div.responsible, div.forum {
                           border-top: 1px dotted @gray-light;
                           padding-top: 4px;
                           font-size: 12px;
                           line-height: 12px;
                       }
                   }
               }
            }
        }
    }
}


div.evaluation.create-form {
    fieldset.form {
        div.row {
            border-bottom: 1px dotted @gray-light;
            padding-bottom: 20px;
            margin-bottom: 20px;
            .addbutton {
                margin-top: 10px;
                margin-bottom: 10px;
            }
            div.auswahl {
                
                .form-control {
                    width: auto;
                    margin-right: 5px;
                    margin-bottom: 5px;
                    float: left;
                }
            }
        }
    }
}



div.evaluation.evaluate {
    fieldset.form {
        div.row {
            border-bottom: 1px dotted @gray-light;
            padding-bottom: 20px;
            margin-bottom: 20px;
        }
    }
}