﻿@using DBForum.Models
@using DBForum.Models.Linq
@using System.Web;
@model UnterForenUndDiskussionen
@{
    ViewBag.Title = "Forum";
    ViewBag.SubTitle = "Übersicht";

    BreadCrumb.AddBreadCrumb(new BreadCrumb { Action = "Index", Controller = "Home", Title = "Home" });

    if (Model.Path != null && Model.Path.Any())
    {
        BreadCrumb.AddBreadCrumb(new BreadCrumb { Action = "Index", Controller ="Foren", Title = "Foren", Parameters = new { id = "" }});
        while (Model.Path.Any())
        {
            var forum = Model.Path.Pop();
            if (Model.Path.Count == 0)
            {
                //Last and active forum
                BreadCrumb.AddBreadCrumb(new BreadCrumb { Active = true, Title = forum.Bezeichnung });
            }
            else
            {
                BreadCrumb.AddBreadCrumb(new BreadCrumb { Action = "Index", Controller = "Foren", Title = forum.Bezeichnung, Parameters = new { id = forum.ID } });
            }
        }
    }
    else
    {
        BreadCrumb.AddBreadCrumb(new BreadCrumb { Active = true, Title = "Foren" });
    }
}


 @if (Model.Foren != null && Model.Foren.Any())
 {
     <div class="panel panel-default">
         <div class="panel-heading">Foren
             <span class="badge pull-right">@Model.Foren.Count()</span>
         </div>
         <ul class="list-group">
             @foreach (var forum in Model.Foren)
             {
                 <li class="list-group-item"><a href="@Url.Action("Index", "Foren", new {id = @forum.ID})">@forum.Bezeichnung</a></li>
             }
         </ul>
         
         
     </div>
 }

@if (Model.AktuellesForum != null)
{
    <div class="panel panel-default">
        <div class="panel-heading">Diskussionen
            <span class="badge pull-right">@Model.Diskussionen.Count()</span>
            </div>

        @if (Model.Diskussionen != null && Model.Diskussionen.Any())
        {
            <table class="table table-hover">
                <thead>  
                    <tr>
                        <th style="width: 90%">Diskussion</th>  
                        <th style="width: 10%; text-align: center;">Sichtungen</th>  
                    </tr>  
                </thead>  
                <tbody>
                    @foreach (var d in Model.Diskussionen)
                    {
                        <tr>
                            <td><a href="@Url.Action("Index", "Diskussion", new {id = @d.ID})">@d.Titel</a></td>
                            <td style="text-align: center;">
                                @if (d.AnzahlSichtungen >= 10)
                                {
                                    <span class="forum views hot">@d.AnzahlSichtungen</span>
                                }
                                else
                                {
                                     <span class="forum views">@d.AnzahlSichtungen</span>
                                }
                            </td>

                        </tr>
                    }
       
                </tbody>  
            </table>
        }
        else
        {
            <div class="alert-warning">
                In diesem Forum existieren noch keine Diskussionen.
            </div>
            
        }
        <div class="panel-footer">
            <div class="btn-group btn-group-sm pull-right">
                <a href="@Url.Action("AddDiscussion", new { id = @Model.AktuellesForum.ID})" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Diskussion erstellen</a>
            </div>
            <div class="clearfix"><!--clearer--></div>
        </div>
    </div>
}