﻿@using DBForum.Models.Linq
@using DBForum.Models
@{
    var modul = ViewBag.Modul as Module;
    ViewBag.Title = "Evaluierung";
    ViewBag.SubTitle = "Fragebogen erstellen";

    BreadCrumb.AddBreadCrumb(new BreadCrumb { Action = "Index", Controller = "Evaluation", Title = "Evaluierung" });
    BreadCrumb.AddBreadCrumb(new BreadCrumb { Active = true, Title = "Fragebogen erstellen" });
}  


<div class="evaluation create-form">

    <fieldset>
        <legend>Formular-Elemente hinzufügen</legend>
        <button type="button" id="buttonAddText" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Freitext-Feld</button>
        <button type="button" id="buttonAddYesNo" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Ja/Nein-Feld</button>
        <button type="button" id="buttonAddSelect" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Auswahl-Feld</button>
        <button type="button" id="buttonDel" class="btn btn-danger disabled"><span class="glyphicon glyphicon-trash"></span> Letztes Feld löschen</button>
    </fieldset>
    <p>&nbsp;</p>
    @* Formular ID *@
    @using (Html.BeginForm("CreateBogen", "Evaluation", new { modulID = modul.ID }))
    {
        <fieldset class="form">
            <legend>Bogen für <strong>@modul.Bezeichnung</strong></legend>
            <p>&nbsp;</p>
            <div id="elements">
                <!-- Elemente werden hier dynamisch eingefügt -->
            </div>

            <p>&nbsp;</p>

            <button type="submit" id="erstellen" class="btn btn-primary disabled"><span class="glyphicon glyphicon-ok"></span> Erstellen</button>

        </fieldset>
    }

    <!-- Templates für die Eingabe Elemente (nicht sichtbar und außerhalb des Formulars)-->

    <div style="display: none;">

        <div class="row editor-field frage" id="texttemplate">
            <div class="col-md-2">
                <label>Freitext-Frage:</label>
            </div>
            <div class="col-md-6 controls">
                <textarea class="form-control frage" rows="3" cols="50" name="[0].Frage">Anmerkungen zur Vorlesung</textarea>
                <input type="hidden" class="hidden-id" name="[0].ID" value="frage0" />
                <input type="hidden" class="hidden-typ" name="[0].Typ" value="text" />
            </div>
        </div>
        <div class="row editor-field frage" id="yesnotemplate">
            <div class="col-md-2">
                <label>Ja/Nein-Frage:</label>
            </div>
            <div class="col-md-6 controls">

                <input class="form-control frage" type="text" name="[0].Frage" value="Hat Ihnen ... gefallen?" style="width: 600px;" />
                <input type="hidden" class="hidden-id" name="[0].ID" value="frage0" />
                <input type="hidden" class="hidden-typ" name="[0].Typ" value="yesno" />
            </div>
            </div>
        <div class="row editor-field frage" id="selecttemplate">
        
            <div class="col-md-2">
                <label>Auswahl-Frage:</label>
            </div>
            <div class="col-md-10 controls">
            
                <input class="form-control frage" type="text" name="[0].Frage" value="Wie fanden Sie ...?" style="width: 600px;" />
                <input type="hidden" class="hidden-id" name="[0].ID" value="frage0" />
                <input type="hidden" class="hidden-typ" name="[0].Typ" value="select" />
               
                <button type="button" class="addbutton addselect btn btn-info btn-sm"><span class="glyphicon glyphicon-plus"></span> weitere Auswahl</button>
                <div class="auswahl">
                    <input class="form-control option" type="text" name="[0].VordefinierteWerte" value="Gut!" />
                    <input class="form-control option" type="text" name="[0].VordefinierteWerte" value="OK" />
                    <input class="form-control option" type="text" name="[0].VordefinierteWerte" value="Schlecht!" />
                </div>
                <br class="clearfix"/>
            </div>
        </div>
    </div>


    <!-- Logik für dynamisches hinzufügen mit jquery -->

    <script language="javascript" type="text/javascript">
        $(document).ready(function () {

            // Hilfsfunktion zum Klonen von Templates
            function cloneTemplate(template) {
                // neue feld nummer ermitteln
                var newNum = new Number($('.clone').length);

                // klon anpassen
                var newElem = $(template)
                                .clone(true)
                                .attr('id', 'divfeld' + newNum)
                                .addClass('clone');

                // anpassen der input felder
                newElem.find('div.controls .form-control.frage')
                    .attr('name', '[' + newNum + '].Frage');

                newElem.find('div.controls .hidden-id')
                    .attr('name', '[' + newNum + '].ID')
                    .val('frage' + newNum);

                newElem.find('div.controls .hidden-typ')
                    .attr('name', '[' + newNum + '].Typ');

                // nach dem letzten duplizierten feld einfügen
                $('#elements').append(newElem);

                // löschen button erlauben

                //Bugfix by Michael Rüttgers (2014-01-17)
                // adapted to bootstrap
                $('#buttonDel').removeClass('disabled');
                $('#erstellen').removeClass('disabled');
                //$('#buttonDel').removeAttr('disabled');
                //$('#erstellen').removeAttr('disabled');
                /*
                $('#buttonDel').attr('disabled', '');
                $('#erstellen').attr('disabled', '');
                */
                return newElem;
            }

            // click event für weitere auswahl
            $('.addselect').click(function () {
                var div = $(this).parent().find('div.auswahl');
                var newSelect = div.children(':last-child').clone();
                div.append(newSelect);
            });

            $('#buttonAddText').click(function () {
                // Freitext-Feld klonen
                cloneTemplate('#texttemplate');
            });

            $('#buttonAddYesNo').click(function () {
                // Ja/Nein-Feld klonen
                cloneTemplate('#yesnotemplate');
            });

            $('#buttonAddSelect').click(function () {
                // Rate-Feld klonen
                var newElem = cloneTemplate('#selecttemplate');
                var newNum = new Number($('.clone').length - 1); // -1 weil bereits hinzugefügt

                // zusätzlich auswahlfelder anpassen
                newElem.find('div.controls .auswahl .form-control').attr('name', '[' + newNum + '].VordefinierteWerte');
                                
            });

            $('#buttonDel').click(function () {
                var num = $('.clone').length - 1; // aktuelle anzahl
                $('#divfeld' + num).remove(); // letztes element entfernen

                // wenn kein element mehr existiert
                if (num == 0) {
                    //Adapted to bootstrap
                    $('#erstellen').addClass('disabled');
                    $('#buttonDel').addClass('disabled');
                    /*
                    $('#erstellen').attr('disabled', 'disabled');
                    $('#buttonDel').attr('disabled', 'disabled');
                    */
                }
            });
        });
    </script>

</div>