﻿@using DBForum.Models
@model IEnumerable<Bogenantwort>
@{
    ViewBag.Title = "Evaluierung";
    ViewBag.SubTitle = "Modul evaluieren";

    BreadCrumb.AddBreadCrumb(new BreadCrumb { Action = "Index", Controller = "Evaluation", Title = "Evaluierung" });
    BreadCrumb.AddBreadCrumb(new BreadCrumb { Active = true, Title = "Modul evaluieren" });
}
<div class="evaluation evaluate">
    <fieldset class="form">
        <legend>Evaluation</legend>
        @using (Html.BeginForm("Evaluate", "Evaluation", new { modulID = ViewBag.Modul.ID }))
        {
            int count = -1;

            foreach (Bogenantwort antwort in Model)
            {
                count++;
                <div class="row">
                    <div class="col-md-6">
                        <div>
                            <label>@antwort.Bogenfrage.Frage</label>
                            <input type="hidden" name="[@count].Bogenfrage.ID" value="@antwort.Bogenfrage.ID" />
                            <input type="hidden" name="[@count].Bogenfrage.Frage" value="@antwort.Bogenfrage.Frage" />
                        </div>
                        <div>
                            @switch (antwort.Bogenfrage.Typ)
                            {
                                case "text":
                                    <input class="form-control" type="text" name="[@count].Antwort" value="@antwort.Antwort" />
                                    break;

                                case "yesno":
                                <input type="radio" name="[@count].Antwort" value="Ja" />
                                <label>Ja</label>
                                <br />
                                <input type="radio" name="[@count].Antwort" value="Nein" />
                                <label>Nein</label>
                                    break;

                                case "select":
                                <select class="form-control" name="[@count].Antwort">
                                    @foreach (string vordefiniert in antwort.Bogenfrage.VordefinierteWerte)
                                    {
                                        <option>@vordefiniert</option>
                                    }
                                </select>
                                    break;

                                default:
                                <span style="color: red">Ungültiger Bogenfrage-Typ!</span>
                                    break;
                            }

                        </div>
                    </div>
                </div>
            }
            <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> Absenden</button>
        }
    </fieldset>
</div>