﻿@using DBForum.Models.Linq
@using DBForum.Models
@model IQueryable<Module>
@{
    ViewBag.Title = "Evaluierung";
    ViewBag.SubTitle = "Übersicht";

    BreadCrumb.AddBreadCrumb(new BreadCrumb { Action = "Index", Controller = "Evaluation", Title = "Evaluierung" });
    BreadCrumb.AddBreadCrumb(new BreadCrumb { Active = true, Title = "Übersicht" });
}
<div class="row">
    <div class="col-md-6">
        @using (Html.BeginForm("Dispatcher", "Evaluation", FormMethod.Get))
        {

            <fieldset>
                <legend>Evaluation erstellen oder durchführen</legend>

                <h4>Modul</h4>

                <div class="editor-field">
                    <select name="modulID" class="form-control">
                        @foreach (var modul in Model)
                        {
                            <option value="@modul.ID">@modul.Bezeichnung</option>
                        }
                    </select>
                </div>
                <p>&nbsp;</p>
                <h4>Aktion</h4>
                <div class="editor-field">
                    <p>
                        <input type="radio" name="auswahl" value="erstellen" checked="checked" />
                        <label>Fragebogen erstellen</label>
                    </p>
                    <p>
                        <input type="radio" name="auswahl" value="evaluieren" />
                        <label>Modul evaluieren</label>
                    </p>
                    <p>
                        <input type="radio" name="auswahl" value="anzeigen" />
                        <label>Evaluationsergebnis anzeigen</label>
                    </p>
                </div>
                <p>&nbsp;</p>

                <button type="submit" id="erstellen" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> Weiter</button>

            </fieldset>
        }
    </div>
    <div class="col-md-6">
        
    </div>
</div>