﻿@using DBForum.Models;
@model IEnumerable<IGrouping<string, Bogenantwort>>
@{
    ViewBag.Title = "Evaluierung";
    ViewBag.SubTitle = "Auswertung im Fach »"+@ViewBag.ModulName+"«";

    BreadCrumb.AddBreadCrumb(new BreadCrumb { Action = "Index", Controller = "Evaluation", Title = "Evaluierung" });
    BreadCrumb.AddBreadCrumb(new BreadCrumb { Active = true, Title = "Auswertung" });
}


@foreach(var frageGruppe in Model)
{
    // Die frage steckt in jeder antwort, 
    // nehmen wir einfach die erste antwort...
    var frage = frageGruppe.First().Bogenfrage;
    var gesamt = frageGruppe.Count();
    
    
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">@frage.Frage</h3>
      </div>
     
          @switch (frage.Typ)
          {
          case "text":

          <ul class="list-group">
              @foreach(var antwort in frageGruppe)
                {
            <li class="list-group-item">
              @antwort.Antwort
            </li>
                }
          </ul>

          break;

          case "yesno":

          var jaStimmen = frageGruppe.Count(a => a.Antwort == "Ja");
          var neinStimmen = frageGruppe.Count(a => a.Antwort == "Nein");
          var positiv = (float)jaStimmen / (float)gesamt * 100;

          <div class="panel-body">
            <div>@(positiv)% stimmten mit JA. (@jaStimmen von @gesamt Stimmen)</div>
          </div>
          break;

          case "select":
        <ul class="list-group">
            @foreach (var wert in frage.VordefinierteWerte)
            {
                var stimmen = frageGruppe.Count(a => a.Antwort == wert);
                var prozent = (float)stimmen / (float)gesamt * 100;
    <li class="list-group-item">@wert : @(prozent)% (@stimmen von @gesamt Stimmen)</li>
            }
        </ul>
          break;

          default:
          <div class="panel-body">
            <span style="color: red">Unbekannter Fragetype!</span>
          </div>
          break;
          }
      </div>
    
}

