﻿<!DOCTYPE html>
<html>
<head>
    <title>@Page.Title</title>
    <link href="Styles/Site.css" rel="stylesheet" type="text/css">    
    @RenderSection("head", required: false)
</head>
<body>
    @{
        //Logout, reset session
        if (Request.Params["logout"] == "true") {
            Session["authenticated"] = null;
        }
        
        //Check login state
        if (Session["authenticated"] == null) {
            Response.Redirect("Login.cshtml");
        }   
    }
    @RenderBody()
    <div class="footer">@DateTime.Now | <a href="Module_dynamisch.cshtml?logout=true">Logout</a></div>
</body>
</html>
