﻿<!DOCTYPE html>
<html>
<head>
    <title>@Page.Title</title>
    <link href="Styles/Site.css" rel="stylesheet" type="text/css">    
    @RenderSection("head", required: false)
</head>
<body>
    @RenderBody()
    <div class="footer">@DateTime.Now</div>
</body>
</html>
