﻿@using Paket_2._3.Models
@model List<Paket_2._3.Models.Modul>
@{    
    ViewBag.Title = "Module";
    ViewBag.SubTitle = "Übersicht";

    BreadCrumb.AddBreadCrumb(new BreadCrumb{ Action = "Index", Controller = "Home", Title = "Home"});
    BreadCrumb.AddBreadCrumb(new BreadCrumb {Active = true, Title = "Module" });

}


<div class="panel panel-default">
    <div class="panel-heading">Module</div>
    <table class="table table-hover">
        <thead>  
            <tr>  
                <th>Fachnummer</th>  
                <th>Bezeichnung</th>  
                <th>Verantwortlicher</th>
                <th></th>
            </tr>  
        </thead>  
        <tbody>
       
        @foreach (var modul in Model) {
            <tr>
                <td>@modul.FachNummer</td>
                <td>@modul.Bezeichnung</td>
                <td><a href="@Url.Action("Summary", "Benutzer", new { user = modul.Verantwortlicher} )">@modul.VerantwortlicherName</a></td>
                <td></td>
            </tr>
        }
        </tbody>  
    </table>
</div>