﻿@using Forum.Models.Linq
@{
    var modul = ViewBag.Modul as Module;
}  

<style>
    input { margin: 5px;}
    div.auswahl{ margin: 20px; }
    div.auswahl input[type='text']{ width: 100px; }
    div.frage { display: block; border-bottom: 1px solid #999; margin: 15px; }
    label { width: 200px; display: block; float:left;}
    input.addbutton  { cursor: pointer;  color: darkblue; background-color: rgb(166, 166, 255);  border: 1px solid darkblue;  width: 150px; }
    input.delbutton  { cursor: pointer;  color: darkred;  background-color: rgb(255, 166, 166);  border: 1px solid darkred;   width: 150px; }
</style>
       
<h2>Fragebogen erstellen</h2>

<fieldset style="margin-right: 10px; padding: 20px;">
    <legend>Formular-Elemente hinzufügen</legend>
    <input class="addbutton" type="button" id="buttonAddText" value="+ Freitextfeld" /> &diams;
    <input class="addbutton" type="button" id="buttonAddYesNo" value="+ Ja/Nein Feld" /> &diams;
    <input class="addbutton" type="button" id="buttonAddSelect" value="+ Auswahl Feld"/> &diams;
    <input class="delbutton" type="button" id="buttonDel" value="Letztes löschen" disabled="disabled"/>
</fieldset>

@* Formular ID *@
@using (Html.BeginForm("CreateBogen", "Evaluation", new { modulID = modul.ID }))
{
    <fieldset>
        <legend>Bogen für '@modul.Bezeichnung'</legend>
        <p></p>
        <div id="elements">
            <!-- Elemente werden hier dynamisch eingefügt -->
        </div>

        <p />

        <input id="erstellen" type="submit" value="Erstellen!" disabled="disabled" />
    </fieldset>
}

<!-- Templates für die Eingabe Elemente (nicht sichtbar und außerhalb des Formulars)-->

<div style="display: none;">
    <div class="editor-field frage" id="texttemplate" >
        <label>Freitext-Frage:</label>
        <textarea rows="3" cols="50" name="[0].Frage">Anmerkungen zur Vorlesung</textarea>
        <input type="hidden" name="[0].ID" value="frage0"/>
        <input type="hidden" name="[0].Typ" value="text"/>
    </div>
    <div class="editor-field frage" id="yesnotemplate" >
        <label>Ja/Nein-Frage:</label>
        <input type="text" name="[0].Frage" value="Hat Ihnen ... gefallen?" style="width: 600px;"/>
        <input type="hidden" name="[0].ID" value="frage0"/>
        <input type="hidden" name="[0].Typ" value="yesno"/>
    </div>
    <div class="editor-field frage" id="selecttemplate" >
        <label>Auswahl-Frage:</label>
        <input type="text" name="[0].Frage" value="Wie fanden Sie ...?" style="width: 600px;"/>
        <input type="hidden" name="[0].ID" value="frage0"/>
        <input type="hidden" name="[0].Typ" value="select"/>
        <div class="auswahl">
            <input type="button" class="addbutton addselect" value="+ weitere Auswahl" style="margin-right: 20px;"/>
            <input type="text" name="[0].VordefinierteWerte" value="Gut!"/>
            <input type="text" name="[0].VordefinierteWerte" value="OK" />
            <input type="text" name="[0].VordefinierteWerte" value="Schlecht!" />
        </div>
    </div>
</div>


<!-- Logik für dynamisches hinzufügen mit jquery -->

<script language="javascript" type="text/javascript">
    $(document).ready(function () {

        // Hilfsfunktion zum Klonen von Templates
        function cloneTemplate(template) {
            // neue feld nummer ermitteln
            var newNum = new Number($('.clone').length);

            // klon anpassen
            var newElem = $(template)
                            .clone(true)
                            .attr('id', 'divfeld' + newNum)
                            .addClass('clone');

            // anpassen der input felder
            newElem.children(':nth-child(2)')
                .attr('name', '[' + newNum + '].Frage');

            newElem.children(':nth-child(3)')
                .attr('name', '[' + newNum + '].ID')
                .val('frage' + newNum);

            newElem.children(':nth-child(4)')
                .attr('name', '[' + newNum + '].Typ');

            // nach dem letzten duplizierten feld einfügen
            $('#elements').append(newElem);

            // löschen button erlauben
            $('#buttonDel').attr('disabled', '');
            $('#erstellen').attr('disabled', '');

            return newElem;
        }

        // click event für weitere auswahl
        $('.addselect').click(function () {
            var div = $(this).parent();
            var newSelect = div.children(':last-child').clone();
            div.append(newSelect);
        });

        $('#buttonAddText').click(function () {
            // Freitext-Feld klonen
            cloneTemplate('#texttemplate');
        });

        $('#buttonAddYesNo').click(function () {
            // Ja/Nein-Feld klonen
            cloneTemplate('#yesnotemplate');
        });

        $('#buttonAddSelect').click(function () {
            // Rate-Feld klonen
            var newElem = cloneTemplate('#selecttemplate');
            var newNum = new Number($('.clone').length - 1); // -1 weil bereits hinzugefügt

            // zusätzlich auswahlfelder anpassen
            var div = newElem.children(':nth-child(5)');

            div.children(':nth-child(2)').attr('name', '[' + newNum + '].VordefinierteWerte');
            div.children(':nth-child(3)').attr('name', '[' + newNum + '].VordefinierteWerte');
            div.children(':nth-child(4)').attr('name', '[' + newNum + '].VordefinierteWerte');
        });

        $('#buttonDel').click(function () {
            var num = $('.clone').length - 1; // aktuelle anzahl
            $('#divfeld' + num).remove(); // letztes element entfernen

            // wenn kein element mehr existiert
            if (num == 0) {
                $('#erstellen').attr('disabled', 'disabled');
                $('#buttonDel').attr('disabled', 'disabled');
            }
        });
    });
</script>

