﻿@using Forum.Models
@model  IEnumerable<Bogenantwort>
@{
    ViewBag.Title = "Evaluate";
}

<fieldset>
    <legend>Evaluation</legend>
    @using (Html.BeginForm("Evaluate", "Evaluation", new { modulID = ViewBag.ModulID }))
    {
        int count = -1;

        foreach (Bogenantwort antwort in Model)
        {
            count++;
            <div>
                <label>@antwort.Bogenfrage.Frage</label>  
                <input type="hidden" name="[@count].Bogenfrage.ID" value="@antwort.Bogenfrage.ID"/>
                <input type="hidden" name="[@count].Bogenfrage.Frage" value="@antwort.Bogenfrage.Frage"/>
            </div>
            <div>
                @switch (antwort.Bogenfrage.Typ)
                {
                    case "text":
                        <input type="text" name="[@count].Antwort" value="@antwort.Antwort"/>
                        break;
                        
                    case "yesno":
                        <input type="radio" name="[@count].Antwort" value="Ja"/>
                        <label>Ja</label>
                        <br/>
                        <input type="radio" name="[@count].Antwort" value="Nein"/>
                        <label>Nein</label>
                        break;

                    case "select":
                        <select name="[@count].Antwort">
                            @foreach (string vordefiniert in antwort.Bogenfrage.VordefinierteWerte)
                            {
                                <option>@vordefiniert</option>
                            }
                        </select>
                        break;

                    default:
                        <span style="color: red">Ungültiger Bogenfrage-Typ!</span>
                        break;
                }               
            
            </div>
        }
        <input type="submit" value="Erstellen"/>
    }
</fieldset>