﻿@using Forum.Models.Linq
@model IQueryable<Module>

<h2>Bitte Modul wählen</h2>
@using (Html.BeginForm("Dispatcher", "Evaluation", FormMethod.Get))
{
    <fieldset>
    <legend>Evaluation erstellen oder durchführen</legend>
    
    <div class="editor-label">
        Modul
    </div>
    <div class="editor-field">            
        <select name="modulID">
        @foreach (var modul in Model)
        {
            <option value="@modul.ID">@modul.Bezeichnung</option>
        }
        </select>
    </div>

    <div class="editor-label">
        Aktion?
    </div>
    <div class="editor-field">
        <input type="radio" name="auswahl" value="erstellen" checked="checked"/>
        <label>Fragebogen erstellen</label>
    <p />
        <input type="radio" name="auswahl" value="evaluieren"/>
        <label>Modul evaluieren</label>
    <p />
        <input type="radio" name="auswahl" value="anzeigen"/>
        <label>Evaluationsergebnis anzeigen</label>
    </div>
    <p />
    <input type="submit" value="Weiter..." />

    </fieldset>
}
