﻿@using Forum.Models;
@model IEnumerable<IGrouping<string, Bogenantwort>>

<h2 style="font-family: Arial, Helvetica, sans-serif">
    Auswertung zu Evaluation im Fach @ViewBag.Title
</h2>

@foreach(var frageGruppe in Model)
{
    // Die frage steckt in jeder antwort, 
    // nehmen wir einfach die erste antwort...
    var frage = frageGruppe.First().Bogenfrage;
    var gesamt = frageGruppe.Count();
    
    <h3>@frage.Frage</h3>
    
    switch (frage.Typ)
    {
        case "text":
            
            <ul>
                @foreach(var antwort in frageGruppe)
                {
                    <li>@antwort.Antwort</li>
                }
            </ul>

            break;
            
        case "yesno":

            var jaStimmen = frageGruppe.Count(a => a.Antwort == "Ja");
            var neinStimmen = frageGruppe.Count(a => a.Antwort == "Nein");
            var positiv = (float)jaStimmen / (float)gesamt * 100;
            
            <div>@(positiv)% stimmten mit JA. (@jaStimmen von @gesamt Stimmen)</div>

                                                        break;

        case "select":
            <ul>
            @foreach (var wert in frage.VordefinierteWerte)
            {
                var stimmen = frageGruppe.Count(a => a.Antwort == wert);
                var prozent = (float)stimmen / (float)gesamt * 100;
                <li>@wert : @(prozent)% (@stimmen von @gesamt Stimmen)</li>
            }
            </ul>
            break;

        default:
            <span style="color: red">Unbekannter Fragetype!</span>
            break;
    }
}

