﻿/**
 * COMMON
 */
body {
    padding: 40px;
    font-family: Arial;
}

.content {
    padding: 20px;
    width: 740px;
    -webkit-box-shadow:  5px 5px 20px 5px rgba(8,8,8,0.5);
    box-shadow:  5px 5px 20px 5px rgba(8,8,8,0.5);
}

.clear {
    float: none;
    clear: both;
}

a, a:visited, a:active {
    color: #666;
}

a:hover {
    text-decoration: none;
}

/**
 * FOOTER
 */
div.footer 
{
    margin-top: 20px;
    
}


/**
 * DEFAULT
 */
div#content-default .left {
    width: 250px;
    float: left;
   
}

#content-default .right {
    float: left;    
}

#content-default form textarea.meldung {
    width: 500px;
    height: 100px;
}


/**
 * MODULE
 */
#content-module form label {
    line-height: 22px;
}

#content-module form input, #content-module form label {
    float: left;
}
