﻿@using System.Activities.Statements
@using System.Globalization
@using DBForum.Models
@model Praktikum.BenutzerrollenDataTable
@{
    ViewBag.Title = "Benutzer";
    ViewBag.SubTitle = "Statistik";

    BreadCrumb.AddBreadCrumb(new BreadCrumb { Action = "Index", Controller = "Home", Title = "Home" });
    BreadCrumb.AddBreadCrumb(new BreadCrumb { Action = "List", Controller = "Benutzer", Title = "Benutzer" });
    BreadCrumb.AddBreadCrumb(new BreadCrumb { Title = "Statistik", Active = true });
}



<div class="row">
    <div class="col-md-2">
        <div class="btn-group">
            <a href="@Url.Action("Stats")" class="btn btn-default @(string.IsNullOrEmpty(ViewBag.ReqChar) ? " active" : "")">Alle anzeigen</a>
        </div>
    </div>

    <div class="col-md-10">

        <div class="btn-group">
            @{
                for (var c = 'a'; c <= 'z'; c++)
                {
                    string addClass = (ViewBag.ReqChar == c.ToString()) ? " active" : "";
                    string url = Url.Action("Stats", new { c = c });
                    <a href="@url" class="btn btn-default @addClass">@c.ToString().ToUpper()</a>
                }
            }
        </div>
    </div>
</div>

<p>&nbsp;</p>
@{
    if (Model.Count == 0)
    {
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-warning">Zu dieser Auswahl konnte leider kein Benutzer gefunden werden.</div>
            </div>
        </div>
    
    }
    else
    {
        <div class="row">
            <div class="col-md-2">
                <div class="panel panel-default">
                    <div class="panel-heading">Benutzer</div>
                    <table class="table table-hover">
                        <tbody>
                            @{
        var type = "";
        var amounts = new Dictionary<string, int>();

        foreach (var user in Model)
        {
            if (type != user.Rolle)
            {
                type = user.Rolle;
                amounts[type] = 0;
                                                            <tr class="active">
                                                                <td><strong>@type</strong></td>
                                                            </tr>
            }
            amounts[type]++;
                                        
                                                        <tr>
                                                            <td><a href="@Url.Action("Summary", "Benutzer", new { user = user.Nickname })">@user.Nickname</a></td>
                                                        </tr>
        }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-10">
                
                <div id="panel-chart" class="panel panel-default">
                    <div class="panel-heading">Verteilung
                        
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <span class="pull-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                        Diagrammtyp <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li class="active"><a class="btn-link" data-charttype="highcharts">Highcharts</a></li>
                                        <li class=""><a class="btn-link" data-charttype="asp">ASP.NET</a></li>
                                    </ul>
                                </div>
                            </span>
                        </div>

                        


                        <div class="row">
                            <script src="@Url.Content("~/Content/vendor/highcharts/highcharts.js")" type="text/javascript"></script>
                            <script type="text/javascript">
                                var chartData = [
                                    @{
                                        Boolean first = true;
                                        foreach (KeyValuePair<string, int> entry in amounts)
                                        {
                                            double p = ((double)entry.Value / (double)Model.Count) * 100.00;
                                            <text>@(first ? "" : ",")['@entry.Key', @p.ToString(CultureInfo.GetCultureInfo("en-GB")) ]</text>

                                            if (first)
                                            {
                                                first = false;
                                            }
                                        }
                                    }
                                ];

                                var showChart = function(chartType) {
                                    if (chartType === undefined)
                                        chartType = 'highcharts';
                                    var container = $('#chart-container');
                                    switch (chartType) {
                                    case 'highcharts':
                                        container.find('.asp').fadeOut(function() {
                                            var el = container.find('.highcharts').show();
                                            console.log(el.length);
                                            el.highcharts({
                                                chart: {
                                                    plotBackgroundColor: null,
                                                    plotBorderWidth: null,
                                                    plotShadow: false
                                                },
                                                title: {
                                                    text: 'Verteilung der Benutzerrollen'
                                                },
                                                tooltip: {
                                                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                                                },
                                                plotOptions: {
                                                    pie: {
                                                        allowPointSelect: true,
                                                        cursor: 'pointer',
                                                        dataLabels: {
                                                            enabled: true,
                                                            color: '#000000',
                                                            connectorColor: '#000000',
                                                            format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                                                        }
                                                    }
                                                },
                                                series: [{
                                                    type: 'pie',
                                                    name: 'Verteilung',
                                                    data: chartData
                                                }]
                                            });
                                        });
                                    
                                        break;  
                                    case 'asp':
                                        container.find('.highcharts').fadeOut(function() {
                                            var el = container.find('.asp');
                                            el.fadeIn();
                                        });
                                        break;
                                    default:
                                        break;
                                    }
                                };

                                $(function() {
                                    showChart('highcharts');

                                    $('#panel-chart ul.dropdown-menu li a').click(function(e) {
                                        var el = $(this);
                                        e.preventDefault();
                                        $('#panel-chart ul.dropdown-menu li.active').removeClass('active');
                                        el.parent().addClass('active');
                                        showChart(el.data('charttype'));
                                    });
                                });
                              
                            </script>
                            <div id="chart-container">
                                <div class="highcharts"><!--chart container--></div>
                                <div class="asp"><img class="center-block img-responsive" src="@Url.Action("StatsChart", new { c = ViewBag.ReqChar })" border="0" width="600" height="400"/></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

    </div>
         
    }
}